@model Student
@{
    ViewBag.Title = "Добавление студента";
}
<!DOCTYPE html>
<html>
<head>
    <title>Добавить</title>
</head>
<body>
<h3>Добавить студента</h3>
<div>
    <form asp-action="create" asp-controller="home">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Имя</label>
            <input type="text" asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label">Возраст</label>
            <input type="number" asp-for="Age" class="form-control"/>
            <span asp-validation-for="Age"></span>
        </div>
        <div class="form-group">
            <label asp-for="GroupName" class="control-label">Группа</label>
            <input asp-for="GroupName" class="form-control"/>
            <span asp-validation-for="GroupName"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Создать студентика" class="btn btn-default"/>
        </div>
    </form>
</div>
</body>
</html>