@model Student
@{
    ViewData["Title"] = "Список студентов";
}
<!DOCTYPE html>
<html>
<head>
    <title>Изменить информацию</title>
</head>
<body>
<div>
    <h3>Изменить информацию</h3>
    <form asp-action="EditStudent" asp-controller="home" method="post">
        <input type="hidden" value="@Model.Id" name="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label">Имя</label>
            <input type="text" asp-for="Name" class="form-control" value="@Model.Name"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label">Возраст</label>
            <input type="number" asp-for="Age" class="form-control" value="@Model.Age"/>
            <span asp-validation-for="Age"></span>
        </div>
        <div class="form-group">
            <label asp-for="GroupName" class="control-label">Группа</label>
            <input asp-for="GroupName" class="form-control" value="@Model.GroupName"/>
            <span asp-validation-for="GroupName"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Изменить информацию" class="btn btn-default"/>
        </div>
    </form>
</div>
</body>
</html>